header {
    font-family: comic sans ms;
    text-align: center;
}
nav {
    font-size: 10px;
    text-align: left;    
}
a {
  text-decoration: underline;
}
a:link {
       color: Blue;
}
a:visited {
          color: Orange;
}
a:hover {
        font-weight: bold;
}
a:active{
        text-decoration: none;
}
footer {
    font-family: comic sans ms;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}        