header {
    font-family: comic sans ms;
    text-align: center;
}
nav {
    font-size: 10px;
    text-align: left;    
}
footer {
    font-family: comic sans ms;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}        